{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <p>This is the home page. It's not exciting yet...</p>
    <p>aaaaannnnd it is now!</p>
    <div class="tenor-gif-embed" data-postid="17289852" data-share-method="host" data-aspect-ratio="1.36752" data-width="50%"><a href="https://tenor.com/view/cat-milk-bowl-of-milk-cute-kitty-gif-17289852">Cat Milk GIF</a>from <a href="https://tenor.com/search/cat-gifs">Cat GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
{% endblock %}